{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1<strong>Docker + Django</strong></h1>
            <img src="{% static 'images/dog.jpg' %}" alt="cute_doggo" width="400" />
            <h1>HELLO</h1>
            <h1>HOLA</h1>
            <h1>CIAO</h1>
            <h1>안녕</h1>
            <h1>Hej</h1>
            <h1>Sawadikap</h1>
            <h1>Nihao</h1>
            <h1>Konichiwa</h1>
    </body>

</html>